$font-family: 'Manrope', sans-serif;
$font--light: 300;
$font--regular: 400;
$font--bold: 700;

$color-navy: #010b43;
$color-green: #00d99f;
$color-white: #ffffff;
$color-black: #000000;
$color-red: rgb(199, 46, 46);

$color-primary: $color-navy;
$color-secondary: $color-green;

$color-text: $color-primary;
$color-link: $color-secondary;
$color-burger: $color-secondary;
$background-body: $color-white;
